[defaults]
inventory = ./inventories/local/hosts,./inventories/dev/hosts,./inventories/test/hosts
vault_password_file = .vault_pass
vault_identity_list = vault_passcode@.vault_pass
host_key_checking = False
roles_path = ./roles
timeout = 30
[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=120s -o ForwardAgent=yes